.projects-div{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 50vw;
}
.projects-Title{
   text-align: center;
   background-color: yellow;
   color:black;
}

.box{
  font-family: 'Raleway', sans-serif;
  position: relative;
}
.box:before{
  content: '';
  background: rgba(199,220,151,0.7);
  height: 150%;
  width: 100%;
  opacity: 0;
  transform: rotate(-180deg);
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.1s ease 0s;
}
.box:hover:before{
  opacity: 1;
  transform: rotate(0);
  transition: all 1s ease 0s;
}
.box img{
  width: 50%;
  height: auto;
}
.box .box-content{
  text-align: center;
  width: 50%;
  opacity: 0;
  transform: translateX(-50%) translateY(-50%) rotate(-180deg);
  position: absolute;
  top: 50%;
  left: 50%;
  transition: opacity 0.1s ease 0s, transform 0.1s ease 0s;
}
.box:hover .box-content{
  opacity: 1;
  transform: translateX(-50%) translateY(-50%) rotate(0);
  transition: all 1s ease 0s;
}
.box .title{
  color: #111;
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: capitalize;
  margin: 0 0 5px;
}
.box .post{
  color: #555;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin:  0 0 10px;
  display: block;
}
.box .icon{
  padding: 0;
  margin: 0;
  list-style: none;
}
.box .icon li{
  margin: 0 4px;
  display: inline-block;
}
.box .icon li a{
  color: #111;
  font-size: 13px;
  text-align: center;
  line-height: 27px;
  height: 27px;
  width: 27px;
  border: 1px solid #111;
  display: block;
  transition: all 0.3s ease 0s;
}
.box .icon li a:hover{
  color: #fff;
  background: #111;
  border-radius: 50%;
}
@media only screen and (max-width:990px){
  .box{ margin: 0 0 30px; }
}