#contact-page{
    min-height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 60rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.contactHeader{
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 10px;
}
.contactDesc{
    font-size: medium;
}
.contactForm{
    margin:1rem;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
    max-width: 60rem;
}
.name, .email, .msg{
  font-size: medium;
  width: 100%;
  max-width: 40rem;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  color:white;
  border: none;
  border-radius: 0.5rem;
  background: #054e5d;
}
.submitbtn{
    background-color: white;
    padding: 0.75rem 5rem;
    border: none;
    border-radius: 0.6rem;
    font-size: 15px;
    margin: 2rem;
}
.links{
    margin: 0.7rem;
    display: flex;
    flex-wrap: wrap;
}
.link{
    font-size:1.7rem;
    padding:1.5rem;
    transition: 0.3s;
}
.link:hover{
  color:rgb(143, 201, 232) ;
}
.iconLink{
    text-decoration: none;
    color:white;
}
